/* Home.css */

/* Hero Section */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120vh; /* Full screen height */
  background-color: #171d1f; 
  color: white;
  text-align: center;
  padding: 0 20px;
}

.hero-content {
  max-width: 950px;
  padding: 10px;
  z-index: 1;
}

/* Hero Title */
.hero-title {
  font-size: 45px; /* Larger title for more impact */
  font-weight: 700; /* Bold title */
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #e74c3c; 
  line-height: 1.2;
}

/* Hero Subtitle */
.hero-subtitle {
  font-size: 22px; 
  font-weight: 400;
  margin-bottom: 40px;
  opacity: 0.9;
  line-height: 1.6;
  color: #e1e1e1; /* Light text for readability on dark background */
}

/* Call to Action (CTA) Button */
.products-cta-button {
  padding: 18px 45px;
  background-color: #e74c3c; 
  color: white; /* Dark text color */
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 12px;
  text-decoration: none;
  transition: 0.6s;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: #ffffff; 
  color: #e74c3c;
}

/* Overlay effect */
.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero-section {
      height: 100vh;
      padding: 120px 20px;
  }

  .hero-title {
      font-size: 35px; /* Smaller title */
      margin-bottom: 15px;
  }

  .hero-subtitle {
      font-size: 18px; /* Smaller subtitle */
      line-height: 1.6;
    }

  .products-cta-button{
      font-size: 20px;
      padding: 15px 35px;
      width: 100%; /* Button becomes full width on small screens */
      text-align: center;
      margin-top: 0px;
    
  }
}

@media (max-width: 480px) {
  .hero-section {
      padding: 40px 15px;
  }

  .hero-title {
      font-size: 30px; /* Further reduce title size on very small screens */
      margin-bottom: 12px;
  }

  .hero-subtitle {
      font-size: 16px; /* Further reduce subtitle size */
      line-height: 1.6;
      color: #b0b0b0;
  }

  .cta-button {
      font-size: 1.1em;
      padding: 12px 30px;
  }
}
